In [60]:
import requests
import pandas as pd
from plyer import notification

In [61]:
url = 'https://brasilapi.com.br/api/cvm/corretoras/v1'
response = requests.get(url)

In [62]:
if response.status_code == 200:
    print('Dados importados com sucesso')
    data_json = response.json()
else: 
    print('Erro ao acessar a API')

Dados importados com sucesso

In [63]:
def alerta(): 

    url = 'https://brasilapi.com.br/api/cvm/corretoras/v1'

    response = requests.get(url)
    status_code = response.status_code
        
    if status_code == 200:
        titulo = 'Sucesso'
        mensagem = 'Dados importados com sucesso'
    else:
        titulo = 'Erro'
        mensagem = 'Erro ao acessar a API'
    
    notification.notify(
        title = titulo,
        message = mensagem,
        app_name = 'Teste',
        timeout = 10 )
    
alerta()

In [64]:
corretoras = pd.DataFrame(data_json)

In [65]:
corretoras_cadastro = corretoras[['cnpj', 'nome_social', 'nome_comercial', 'codigo_cvm', 'email', 'telefone', 'logradouro', 'complemento', 'cep']]

corretoras_cadastro.head(3)

,cnpj,nome_social,nome_comercial,codigo_cvm,email,telefone,logradouro,complemento,cep
0,76621457000185,4UM DTVM S.A.,4UM INVESTIMENTOS,2275,controle@4um.com.br,33519966,R. VISCONDE DO RIO BRANCO 1488,4º ANDAR,80420210
1,33817677000176,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL CORRETORA,3514,regina.tkatch@abcbrasil.com.br,31702172,"AV. CIDADE JARDIM, 803",2º ANDAR,1453000
2,10664027000132,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,329,,,R DO IMP.D.PEDRO II 239/CJ.102,,50010240

In [69]:
corretoras_status = corretoras[['cnpj', 'data_registro', 'status']]

corretoras_status.head(3)

             cnpj data_registro     status
0  76621457000185    1968-01-15  CANCELADA
1  33817677000176    2002-10-14  CANCELADA
2  10664027000132    1986-07-08  CANCELADA

In [68]:
corretoras_patrimonio = corretoras[['cnpj', 'valor_patrimonio_liquido']]

corretoras_patrimonio.head(3)

             cnpj valor_patrimonio_liquido
0  76621457000185               4228660.18
1  33817677000176                     0.00
2  10664027000132               5995252.29